body {
	font-family: 'Open Sans';
	background-color: #f6f6f6;
}
.navbar-default {
	border-style: none;
	background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
}
.navbar .logo {
	max-height: 100%;
}
header {
	position: relative;
}
header .hero-img {
	max-width: 100%;
}
.hero-text {
	color: #FFF;
	padding: 10px;
	background-image: url('../img/hero-img-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 150px;
	text-shadow: 1px 1px 2px #000;
}
.featured-item {
	margin-top: 40px;
	padding: 0 5px;
}
.featured-item img {
	width: 100%;
}
.featured-item p {
	margin-bottom: 30px;
}
footer {
	margin-top: 100px;
	padding: 40px 0; 
	background: transparent url('../img/footer.jpg') no-repeat top left;
}
footer ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.social-links {
	white-space: nowrap;
}
.social-links li {
	display: inline-block;
}
.social-links a {
	content: "";
	display: inline-block;
	width: 41px;
	height: 41px;
	background: transparent url('../img/social-icons.png') no-repeat;
}
.social-links a.facebook {
	background-position: 0px 0px;
}
.social-links a.facebook:hover {
	background-position: 0px -41px;
}
.social-links a.twitter {
	background-position: -41px 0px;
}
.social-links a.twitter:hover {
	background-position: -41px -41px;
}
.social-links a.rss {
	background-position: -82px 0px;
}
.social-links a.rss:hover {
	background-position: -82px -41px;
}
.social-links a.google-plus {
	background-position: -123px 0px;
}
.social-links a.google-plus:hover {
	background-position: -123px -41px;
}
.social-links a.flickr {
	background-position: -164px 0px;
}
.social-links a.flickr:hover {
	background-position: -164px -41px;
}
.social-links a.pinterest {
	background-position: -205px 0px;
}
.social-links a.pinterest:hover {
	background-position: -205px -41px;
}
.social-links a.vimeo {
	background-position: -246px 0px;
}
.social-links a.vimeo:hover {
	background-position: -246px -41px;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
	.social-links {
		float: left;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.social-links {
		float: right;
	}
	.hero-text {
		position: absolute;
		color: #FFF;
		width: 40%;
		left: 140px;
		top: 230px;
		padding: 0;
		background-image: none;
		text-shadow: none;
	}
	header {
		min-height: 502px;
		background-image: url('../img/header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top left;
	}
	.navbar-nav > li + li:before {
		content: "|";
		display: inline-block;
		float: left;
		margin-left: -5px;
		margin-top: 14px;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.hero-text {
		position: absolute;
		color: #FFF;
		width: 40%;
		left: 230px;
		top: 250px;
	}
	header {
		background-image: url('../img/header-wide.jpg');
	}
}